.input {
  /* Hide the input, let other components decide rest of style */
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 0;
  /* csslint ignore:start */
  -webkit-appearance: none;
  -moz-appearance: textfield;
  /* csslint ignore:end */
}